* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
}

body {
  background-color: black !important;
}
.navbar .container-fluid {
}
.navbar {
  background-color: #be2a2a !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 99;
}
.navbar-brand img {
  color: #fff !important;
  background-color: #ffff !important;
  border-radius: 50%;
}
.nav-link {
  color: black !important;
  font-size: 23px !important;
  font-family: monospace;
  margin-left: 10px !important;
  color: #ffff !important;
  font-weight: bold;
}
.nav-link:hover {
  background-color: #fff;
  color: black !important;
  border-radius: 10%;
}
#btn {
  background-color: #fff !important;
  color: #fff !important;
}
.navbar-toggler-icon {
  color: black !important;
}

.bi-cart {
  font-size: 33px;
  display: flex;
  justify-content: end;
  position: relative !important;
  right: 0 !important;
  margin-right: 10px;
  color: #fff;
}
@media only screen and(max-width:520px) {
  .container-fluid {
    background-color: yellow !important;
  }
}

/*=================CONTACT US PAGE DESIGN ================*/
.contact-design {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: black;
}
.header_head h4 {
  letter-spacing: 1px;
}
.contact-design .container {
  margin-top: 30px;
  padding: 40px 0px;
}
.contact-design .container .para_head {
  font-family: serif;
  font-size: 20px;
  color: #ffff;
}
.contact-design .container button {
  padding: 8px 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18 px;
  font-weight: 500;
  margin-bottom: 40px;
}
.contact-design .container h1 {
  font-size: 60px;
}
.app-icons a {
  font-size: 25px;
  margin-right: 9px;
  color: #ffff !important;
}

.maps_google {
  margin-top: 30px !important;
}
.address {
  font-size: 20px;
  font-family: monospace;
  font-weight: 400;
}

.down_arrow .bi-arrow-down {
  font-size: 60px;
  font-weight: 600;
}
.header a {
  color: #fff;
}

/*=========================*/
.footer-part-two {
  display: flex;
  justify-content: center;
  background-color: #be2a2a;
  padding: 30px 20px;
  margin-top: 30px;
}
.footer-cin {
  color: #fff;
}
.footer-gst {
  color: #fff;
}
.bi-building {
  padding-right: 4px;
  font-size: 20px;
}
.build {
  color: #fff;
}

.street {
  color: #ffff;
}
.street .bi-signpost {
  color: #fff;
  font-size: 20px;
}
.telephone {
  color: #ffff;
}
.telephone .bi-telephone-plus {
  padding-right: 3px;
}
.mail .bi-envelope-at {
  padding-right: 3px;
  color: #fff;
}
.time {
  display: flex !important;
  flex-direction: column !important;
  color: #fff;
  font-size: 20px;
}
.media-icons {
  color: #fff;
  font-size: 30px;
}
