* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
}

body {
  background-color: black !important;
}
.navbar .container-fluid {
}
.navbar {
  background-color: #be2a2a !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 99;
}
.navbar-brand img {
  color: #fff !important;
  background-color: #ffff !important;
  border-radius: 50%;
}
.nav-link {
  color: black !important;
  font-size: 23px !important;
  font-family: monospace;
  margin-left: 10px !important;
  color: #ffff !important;
  font-weight: bold;
}
.nav-link:hover {
  background-color: #fff;
  color: black !important;
  border-radius: 10%;
}
#btn {
  background-color: #fff !important;
  color: #fff !important;
}
.navbar-toggler-icon {
  color: black !important;
}

.bi-cart {
  font-size: 33px;
  display: flex;
  justify-content: end;
  position: relative !important;
  right: 0 !important;
  margin-right: 10px;
  color: #fff;
}
@media only screen and(max-width:520px) {
  .container-fluid {
    background-color: yellow !important;
  }
}
/*-------------------------------ABOUTUS PAGE-----------------------------*/
.about {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100vh;
}
#about {
  width: 100%;
  height: 100vh;
  background-image: url("../IMAGES/briyani-abouts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.youtube {
  font-size: 20px !important;
}
#order {
}
#order a {
  padding: 10px 20px;
  font-size: 20px;
  color: #fff !important;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
#youtube a {
  padding: 10px 20px !important;
  font-size: 20px;
  color: #ffff;
  border-radius: 50% !important;
}
.btn {
  padding: 10px 30px;
  color: #be2a2a;
}
.card img {
}
h1 {
  font-size: 50px;
}
.Welcome {
  font-size: 50px;
  color: #be2a2a;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 1px;
}
.Delicious {
  color: #be2a2a;
  font-family: monospace;
  font-weight: 800;
  font-size: 45px;
  font-weight: bold;
}
#about-para {
  text-align: justify !important;
  color: #fff;
  font-weight: 600;
}
.card {
  position: relative;
}
.card img {
  object-fit: cover;
}
.card-text {
  color: red;
  font-weight: bold;
  display: flex !important;
}
.stars {
  color: yellow;
  font-weight: bold;
}
.add {
  color: red;
  font-weight: bold;
  position: absolute;
  right: 0;
  font-size: 25px;
  margin-top: -15px;
}
#a-img {
  padding-left: 30px;
}
.bi-bicycle {
  color: #fff !important;
  font-size: 46px !important;
}
.bike {
  font-size: 20px;
  margin-top: -20px;
}
.fast-delivers {
  display: flex;
}
.fast-boy {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffff;
}
.pickup {
  color: #fff !important;
  font-size: 18px !important;

  text-align: center;
}
.fa-truck-pickup {
  font-size: 50px !important;
}
.pickup-to {
  color: #fff !important;

  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffff;
}
.dinner {
  padding-left: 80px;
  color: #fff !important;

  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffff;
}
.fa-utensils {
  font-size: 50px !important;
}
button .carousel-control-prev-icon {
  color: white !important;
}
/*================================CAROSOEL========================*/
.carousel {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
  padding: 20px 40px;
}
#Tasty {
  font-size: 50px;
  font-family: cursive;
  font-weight: bold;
}
.card img {
  height: 200px;
}
.card .card-text {
  text-align: justify;
  font-family: cursive;
}
/*=======================================MEEDIA========================*/
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  background-color: #ffff;
}
.images-groups img {
  margin-right: 20px;
  padding-bottom: 10px;
}
/*--------------------TESTIMONAL-----------------------*/
.testimonual {
  background-color: #191919;
  position: relative;
}
.testimonual .container .carousel-inner {
  padding: 6rem;
}
.carousel-image {
  border-radius: 50% !important;
  width: 300px;
  height: 300px;
  position: relative;
  left: 37%;
  margin-bottom: 80px;
}
.carousel-caption p {
}
.carousel-imagev p .bi-quote {
}
.carousel-caption {
  position: absolute;
}
.carousel-caption h4 {
  position: absolute;
  left: 44%;
  top: -240%;
  font-size: 40px;
  font-family: serif;
}
.carousel-caption p {
  position: relative;
  top: 40%;
  display: flex;
  justify-content: baseline;
}
button .carousel-control-next {
  color: red !important;
  background-color: black !important;
}
/* .testimonual .container .card h2 p {
  color: #ffff !important;
}s
#test-img {
  border-radius: 50%;
  position: relative;
  left: 12%;
}
.carousel-item p {
  text-align: justify;
}
.testimonual .card {
  background-color: #ffff !important;
}
.card {
  box-shadow: 0 3px 6px rgba(231, 231, 230, 0.966),
    0 3px 6px rgba(243, 241, 241, 0.966);
} */
/*==============================FOOTER====================*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;

  background-color: #f0eeee;
}

.footer-head .for-party h2 {
  font-size: 50px !important;
  color: #fff;
  font-weight: bold;
}
#footer-btn {
  background-color: #191919;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  padding: 10px 23px;
}
.footer-head .footer-para {
  font-size: 20px;
  color: #b61313;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-weight: 600;
}
.footer #footer-btn:hover {
  background-color: yellow !important;
  color: black !important;
}
.footer #footer-btn a:hover {
  color: black !important;
}
/*================================FOOTER TWO========================*/
.footer-part-two {
  display: flex;
  justify-content: center;
}
.footer-cin {
  color: #fff;
}
.footer-gst {
  color: #fff;
}
.bi-building {
  padding-right: 4px;
  font-size: 20px;
}
.build {
  color: #fff;
}

.street {
  color: #ffff;
}
.street .bi-signpost {
  color: #fff;
  font-size: 20px;
}
.telephone {
  color: #ffff;
}
.telephone .bi-telephone-plus {
  padding-right: 3px;
}
.mail .bi-envelope-at {
  padding-right: 3px;
  color: #fff;
}
.time {
  display: flex !important;
  flex-direction: column !important;
  color: #fff;
  font-size: 20px;
}
.media-icons {
  color: #fff;
  font-size: 30px;
}

/*-----------LOGIN-----------------*/
.login button {
  background-color: red !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.login button a {
  text-decoration: none !important;
  font-weight: 600;
  color: white !important;
  font-family: sans-serif;
}

/*===================CATR===============*/
#cart-design {
}

/*==================MEDIA QUERIES ON MEDIA 4 IMAGES================*/
@media (max-width: 768px) {
  .images-groups .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .images-groups .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Default styles */

/* Example of media query for tablets (min-width: 768px) */
@media (min-width: 768px) {
  /* Adjust styles for tablets */
  .about {
    padding: 50px;
  }

  .carousel-slider {
    padding: 50px;
  }

  .media {
    padding: 50px;
  }

  .testimonual {
    padding: 50px;
  }

  .footer {
    padding: 50px;
  }

  .footer-part-two {
    padding: 50px;
  }
}

/* Example of media query for desktops (min-width: 992px) */
@media (min-width: 992px) {
  /* Adjust styles for desktops */
  .about {
    padding: 100px;
  }

  .carousel-slider {
    padding: 100px;
  }

  .media {
    padding: 100px;
  }

  .testimonual {
    padding: 100px;
  }

  .footer {
    padding: 100px;
  }

  .footer-part-two {
    padding: 100px;
  }
}
