* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
}
.lorem {
  display: inline-block;
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;
}

section {
  display: flex !important;
  justify-content: center !important;
}
/*==================================CARD-------------------------------*/
.card {
  position: relative;
  overflow: hidden;
  border: none !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card img {
  height: 320px;
  position: relative;
  transition: 0.5s;
}
.hover-images {
  position: absolute;
  bottom: -100%; /* Initially hide the hover images */
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  transition: bottom 0.3s ease; /* Add smooth transition */
}
.card .hover-images img :hover {
}
.hover-sizes {
  position: absolute;
  top: -20%;
  color: black;
  background-color: #fff;
  width: 100%;
  text-align: center;
}
.hover-sizes span {
  margin-right: 28px;
}
.card:hover .hover-images {
  /* Show hover images on hover */

  height: 90px;
  bottom: 0;
  background-color: #ffff;
  cursor: pointer;
}
.card .hover-images img:hover {
  transform: scale(1.2);
}

.hover-images img {
  width: 70px; /* Adjust image width as needed */
  height: auto;
  margin: 5px; /* Add space between images */
  cursor: pointer;
  height: 70px;
}

section {
  margin-bottom: 30px;
}

.bi-heart {
  top: 4%;
  color: black;
  background-color: #fff;
  width: 40px;
  border-radius: 10%;
  text-align: center;
  position: absolute;
  right: 0;
  font-size: 25px;
}
.rupees {
  color: red;
  font-weight: bold;
}
