* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
h2 {
  color: #fff !important;
}
body {
  /* background-color: #191919 !important; */
}
.navbar .container-fluid {
}
.navbar {
  background-color: #be2a2a !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: sticky !important;
  top: 0 !important;
  z-index: 99;
}
.navbar-brand img {
  color: #fff !important;
  background-color: #ffff !important;
  border-radius: 50%;
}
.nav-link {
  color: black !important;
  font-size: 23px !important;
  font-family: monospace;
  margin-left: 10px !important;
  color: #ffff !important;
  font-weight: bold;
}
.nav-link:hover {
  background-color: #fff;
  color: black !important;
  border-radius: 10%;
}
#btn {
  background-color: #fff !important;
  color: #fff !important;
}
.navbar-toggler-icon {
  color: black !important;
}
/*==========================ADD TO CART=======================*/
.abouts-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: black !important;
}
.abouts-page .images img {
  border-radius: 10% !important;
}
.abouts-page .bi-check-circle-fill {
  color: rgb(33, 224, 33) !important;
  font-size: 20px !important;
}
.abouts-page .col-md-6 {
  background-color: yellow !important;
}

.processed-to-buy {
  display: flex !important;
  justify-content: center;
  position: relative;
}
.col-md-4 {
  display: flex !important;
  flex-direction: column !important;
}
.processed-to-buy #pro-btn {
  position: absolute;
  top: 80%;
  padding: 10px 5px !important;
  font-size: 15px !important;
}
.processed-to-buy #go-to-cart {
  position: absolute;
  top: 240%;
}

/*=========================CARD SLIDER================*/
body {
  background-color: black !important;
}
.container {
}
.card-slider .container .carousel-inner .card img {
  width: 285px !important;
  height: 240px !important;
}
.card-slider .container .carousel-inner .card {
  margin-left: 20px !important;
}
.carousel-control-prev-icon {
  background-color: red !important;
}
.carousel-control-next-icon {
  background-color: rgb(240, 19, 19) !important;
}

.card .card-body .card-title {
  text-align: center;
}
.card .card-body .card-text {
  color: black !important;
  font-size: 20px;
}
.card-slider {
}

/*================================FOOTER TWO========================*/
.footer-part-two {
  display: flex;
  justify-content: center;
  background-color: #be2a2a;
  padding: 40px 0px;
}
.footer-cin {
  color: #fff;
}
.footer-gst {
  color: #fff;
}
.bi-building {
  padding-right: 4px;
  font-size: 20px;
}
.build {
  color: #fff;
}

.street {
  color: #ffff;
}
.street .bi-signpost {
  color: #fff;
  font-size: 20px;
}
.telephone {
  color: #ffff;
}
.telephone .bi-telephone-plus {
  padding-right: 3px;
}
.mail .bi-envelope-at {
  padding-right: 3px;
  color: #fff;
}
.time {
  display: flex !important;
  flex-direction: column !important;
  color: #fff;
  font-size: 20px;
}
.media-icons {
  color: #fff;
  font-size: 30px;
}

@media screen and (max-width: 412px) {
  .card {
    margin-right: 40px !important;
    margin-left: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
